.navbar-nav>li>a
{
    font-weight: 700;
    font-size: 13px;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

#brand{
    opacity: 1;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 700;
    color: white;
}

p{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1{
  font-family: "Courier New", Courier, monospace;
}

.div-left{
    float: left;
}

.div-right{
    float: right;
}

.faq-pic{
  left: 50%;
  top: 50%;
  width: 50%;
  display: inline-block;

}

a .left carousel-control{
  background-color: red;
}

.carousel-indicators li { visibility: hidden; }

section{border-style: none;}

#Team_photos{
  text-align: center;
}

.board_photo{
    display: inline-block;
    margin: 10px 5%;
    height: 30%;
    width: 35%;
}

.main-pic{
  #margin-top: 3%;
  height: 85%;
  background-size: cover;
}

.carousel-inner{
  width:100%;
  background-size: cover;
  background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
}

.carousel-inner>.item {
  width: 100%;

}

img.slideshow_image{
  display: block;
  margin: 0 auto;
  width: 70%;
  height: auto;
}
img.center_image{
  display: block;
  margin: 0 auto;
  width: 40%;
  height: auto;
}


.header{
}

.landing_page{
	height: 10%;
	/*height: 90vh;*/
}

.mission_statement{
	height: 10%;
	 /*height: 75vh;*/
}

.block_title{
	text-align: center;
	font-size: 200%;
}

.block_text{
	margin-right: 10%;
	margin-left: 10%;
	/*
	margin-right: 250px;
	margin-left: 250px;
	*/
}

.volunteer{
  text-align: center;
}

.resources{
   text-align: center;
}


.team {
    text-align: center;
    background-position:center;
}

.Faq{
    text-align: center;
   background-position:center;
}


.Footer{
clear: left;
}

.left{
	float: left;
}

.white{
	color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.icon {
    display: none;
}

/* Style the element that is used to open and close the accordion class */
p.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the accordion if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
p.accordion.active, p.accordion:hover {
    background-color: #ddd;
}

/* Unicode character for "plus" sign (+) */
p.accordion:after {
    content: '\2795'; 
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

/* Unicode character for "minus" sign (-) */
p.accordion.active:after {
    content: "\2796"; 
}

/* Style the element that is used for the panel class */

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    opacity: 0;
    margin-bottom:10px;
}

div.panel.show {
    opacity: 1;
    max-height: 500px; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  clear: both;
}

.navbar {
  position: initial;
  border: 1px solid transparent;
}

.container-fluid{
    #background-color: powderblue;
}

body {
    margin:0;
    width:100%;
    height:100%;
    background:white;
    overflow: auto;
    float: left;
    margin-right: 0;
}

.clear{
  clear:both;
}

.container{
  width:  100%;
  padding-right: 0px; 
  padding-left: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.float-left{
  float:left;
}
.float-right{
  float:right;
}

.half-padded-left{
  max-width:50%;
  padding-left:10%;
}

.half-padded-right{
  max-width:50%;
  padding-right:10%;
}

.faq-left{
  max-width:30%;
}

.faq-right{
  max-width:50%;
}

.container-top {
	width: 80%;
	margin: 0 auto;
	padding: 0 30px;
}

header {
	width: 100%;
	height: 8vw;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	background-color: #c6f4e6;
	transition: height 0.3s;
}

header h1#logo {
	display: inline-block;
	line-height:1em;
   margin: 0;
	float: left;
	font-family: "Open Sans", sans-serif;
	font-size: 60px;
	color: #3a7261;
	font-weight: 400;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

header nav {
	display: inline-block;
	float: right;
}

header nav a {
	line-height: 150px;
	margin-left: 20px;
	color: #3a7261;
	font-weight: 400;
	font-size: 1em;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

header nav a:hover {
	color: #fd5559;
}

header.smaller {
	height: 75px;
}

header.smaller h1#logo {
	line-height: 75px;
	font-size: 0px;
}

header.smaller nav a {
	line-height: 75px;
}

.main{
  max-width:1000px;
  margin: auto;
}

.full-padded{
  width:90%;
  padding: 5%;
  margin: auto;
}

.faq-half{
  width:50%;
  padding-right: 5%;
  margin: auto;
}

.empty-block{
  width: 100%;
  height: 75px;
}

.officer_pic{
    max-width:100%;
    height:auto;
}
/*
.nav {
    position: fixed;
    top: 0;
    width: 100%;
}


li {
    display: inline;
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover * /
li a:hover {
    background-color: #111;
}


.nav_pad{
  padding: 14px 16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

*/
